{% extends 'main.html' %}
{% load static %}
{% block content %}

<button><a href="{% url 'createcardioworkout'%}">Add new cardio workout</a></button>
{% for workout in workouts %}
    <p><a href="{% url 'cardioworkout' workout.id %}">Date: {{workout.timestamp}} | Type: {{workout.cardio_type}}</a></p>
    <button><a href="{% url 'updatecardioworkout' workout.id %}">Edit</a></button>
    <button><a href="{% url 'deletecardioworkout' workout.id %}">Delete</a></button>
    <button><a href="{% url 'createcardioexercise' workout.id %}">Add Exercise</a></button>
{% endfor %}

{% endblock content %} 
