<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEE STRENGTH</title>
</head>
<body>
    <header>
        <a href="#" class="header__logo">
            <img src="#" alt="Lee Strength Logo" />
        </a>
        <p><b>LEE STRENGTH</b></p>
    </header>
    <section>
        <div>
            <p>Come join us in your dream to stronger self!
                We all have our own unique goals and reason for pursuing these goals, 
                but the overall objective of everyone in this community should be consistency and progress!
                We hope you join us in your pursuit of better!
            </p>
        </div>
        <div>
            <button><a href="{% url 'login' %}">Login</a></button>
            <button><a href="{% url 'signup'%}">Signup</a></button>
        </div>
    </section>
    <section>
        <div>
            <p><b>ABOUT US!</b></p>
            <p>Lee Strength began as a means for the founder to track his and his friends weight lifting progress.
                Along the way, the goal of this page developed into a way to help others track and achieve there goals. 
                What we do a little different on this site is to place a focus on recalling and reiterating your goals, allowing
                for your friends to see your goals and your progress towards those goals. This approach was used to develop a team
                of accountability to help you continue in your progress. Without others and the goals focused on others the enjoyment of 
                reaching your goals will be hollow and our goal is not only to improve ourselves but those around us! We hope and pray that you
                find a group of peers to push you and propel you further!
            </p>
        </div>
    </section>
</body>
</html>