<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section>
        <div>
            <label for="username-login">Username</label>
            <input type="text" name="username-login" id="username-login">
        </div>
        <div>
            <label for="password-login">Password</label>
            <a href="#forgotpassword">Forgot Password?</a>
            <input type="text" name="password-login" id="password-login">
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
        <div>
            <a href="{% url 'signup' %}">Don't have an account? <b>Sign Up</b></a>
        </div>
    </section>
</body>
</html>